.seatsContainer
{
    width: 800px;
    height: 400px;
    position: absolute;
    left: calc(50% - 400px);
    top: 245px;
}

.seatContainer
{
    width: 50px;
    height: 50px;
    position: relative;
    float: left;
}

.seat
{
    position: absolute;
    margin: 0;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    background-color: #EFEFEF;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s all;
}

.notClickableSeat
{
    position: absolute;
    margin: 0;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    background-color: #00CECE;
    transform: translate(-50%, -50%);
    left: 50%;
    transition: 0.3s all;
    top: 50%;
}

.available
{
    width: 24px;
    height: 24px;
    background-color: #00CECE;
    box-shadow: 0 0 0 0 rgba(0,206,206,0.3);
    cursor: pointer;
}

.available:hover
{
    width: 30px;
    height: 30px;
    box-shadow: 0 6px 12px 0 rgba(0,206,206,0.3);
}

.available:active{
    box-shadow: 0 0 0 0 rgba(0,206,206,0.3);
}

.seatSelected
{
    background-color: #324047;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 0 0 rgba(50,64,71,0.2);
    cursor: pointer;
}

.seatSelected:hover{
    box-shadow: 0 6px 12px 0 rgba(50,64,71,0.2);
}

.seatSelected:active{
    box-shadow: 0 0 0 0 rgba(50,64,71,0.2);
}

.seatRowsNums
{
    position: absolute;
    left: -40px;
    font-size: 15px;
}

.seatColsNums
{
    position: absolute;
    top: -40px;
    font-size: 15px;
}

.seatColsNums div
{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
}

.seatRowsNums div
{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
