@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

body
{
    color: #707A7F;
    font-family: Roboto, serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    border: 0;
}

.mainContainer
{
    width: 988px;
    height: 724px;
    /* box-shadow: 0 0 30px -5px rgba(0,0,0,0.1); */
    border-radius: 8px;
    position: absolute;
    left: calc(50% - 494px);
    top: calc(50% - 362px);
}
