.screen
{
    width: 100%;
    height: 13px;
    background-color: #EFEFEF;
    border-radius: 10px;
    position: absolute;
    top: 140px;
    text-align: center;
    line-height: 60px;
    font-size: 15px;
}

.button
{
    background-color: #FFFFFF;
    border: 2px solid #00CECE;
    width: 186px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(0,206,206,0.3);
    transition: 0.2s all;
}

.bookButton
{
    position: absolute;
    bottom: 0;
    right: 0;
}

.button:hover{
    box-shadow: 0 6px 12px 0 rgba(0,206,206,0.3);
}

.button:active{
    box-shadow: 0 0 0 0 rgba(0,206,206,0.3);
}

.marks
{
    position: absolute;
    height: 44px;
    width: 400px;
    bottom: 0;
    left:0;
}

.mark
{
    width: 170px;
    margin-right: 20px;
    height: inherit;
    float: left;
}

.mark .seatContainer
{
    width: 44px;
    height: 44px;
}

.mark .label
{
    padding-left: 44px;
    line-height: 44px;
    width: 100%;
}
