.timeSelector
{
    position: absolute;
    right: 0;
    top: 0;
}

.timeButton
{
    background: #FFFFFF;
    border: 2px solid #00CECE;
    border-radius: 8px;
    width: 74px;
    height: 28px;
    font-size: 18px;
    text-align: center;
    line-height: 28px;
    float: left;
    transition: 0.2s all;
    cursor: pointer;
}

.timeButton:hover{
    box-shadow: 0 6px 12px 0 rgba(0,206,206,0.3);
}

.timeButton:active{
    box-shadow: 0 0 0 0 rgba(0,206,206,0.3);
}

.timeButton:not(:first-child){
    margin-left: 11px;
}

.timeButtonSelected
{
    background-color: #00CECE;
    color: #fff;
    font-weight: 500;
}
